*{
    margin: 0;
    padding: 0;
}
body{
    height: 6000px;
}
.container{
    width: 70%;
    margin:auto ;
}

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar .container{
    display: flex;
    align-items: center;
}
.p1{
width: 30%;
}
.p1 img{
width: 100px;
height: 17px;}
.p2{
    
    flex-grow: 1;
}
.p2 .list{
    color: beige;

}
.list{
    justify-content: flex-end;
    text-transform: capitalize;
    display: flex;
 list-style-type: none;
gap: 15px;
}

.header{
    display: flex;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.header-content{
    background-color: rgba(0,0, 0, 0.2);
    border-top:blue 2px solid;
    padding: 30px;

}
